@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex justify-content-center my-4">
    <h1>Spiral Number Formatter</h1>
</div>
<div class="d-flex justify-content-center mb-4">
    <form class="form-inline">
        <div class="form-group mx-sm-3">
            <input type="text" class="form-control" id="integer-input" placeholder="Enter an number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>